@import url('https://fonts.googleapis.com/css?family-open+Sans&display=swap');
body
{
    font-family: 'Open Sans', sans-serif;
    background: #2c3e50;
}
nav
{
    position: relative;
    margin: 27px auto 0;
    width: 590px;
    height: 50px;
    background: #34495e;
    border-radius: 8px;
    font-size: 0;
}
nav a
{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
nav .animation
{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}
nav a:nth-child(1)
{
    width: 100px;
}
nav a:nth-child(2)
{
    width: 110px;
}
nav a:nth-child(3)
{
    width: 100px;
}
nav a:nth-child(4)
{
    width: 160px;
}
nav a:nth-child(6)
{
    width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation
{
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}
nav a:nth-child(2):hover~.animation
{
    width: 110px;
    left: 100px;
    background-color: #1abc9c;
}
nav a:nth-child(3):hover~.animation
{
    width: 100px;
    left: 210px;
    background-color: #3498db;
}
nav a:nth-child(4):hover~.animation
{
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}
nav a:nth-child(5):hover~.animation
{
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}
body
{
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
}
span
{
    color: #2bd6b4;
}